:root{
  --dark-yelow : rgb(204,130,64);
  --chocolate-brown: rgb(89,47,34);
  --light-yellow : rgb(228,180,132);
  --pale-brown : rgb(198,178,168);
  --font-body : "roboto";
}

body{
  margin: 0;
  padding: 2em;
  
}


/* HEADER */
#logo-bb{
  display: block;
  width: 16em;
  height: auto;
  margin: auto;
}

h2{
  color: var(--chocolate-brown);
  font-size: 2em;
  text-align: center;
}
h2>span{
  display: block;
  font-size: 1.3em;
}

#continue{
width: 13em;
height: 4em;
/* border: 2px solid var(--chocolate-brown); */
border: 2px solid transparent;
color: var(--chocolate-brown);
font-size: 1.2em;
background-color: var(--pale-brown);
transition: all 0.3s ease-in-out;
}

#continue:hover{
  border: 2px solid var(--chocolate-brown);
color: var(--light-yellow);
background-color: var(--chocolate-brown);
}


/* FORM */
form>section{
  width: 70%;
  margin: auto;
  /* border: 1px solid black; */
  text-align: center;
  padding: 2em;
}

h4{
  font-size: 1.5em;
  color: var(--dark-yelow);
}
button{
  display: block;
  margin: auto;
}
input[type="radio"] {
  display: none;
}
.options{
  /* border: 0.5px solid var(--pale-brown); */
  display: flex;
  width: 70%;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  text-transform: capitalize;
}

/* .option{
  border: 0.5px solid transparent;
  width: 15em;
  height: 17em;
  text-align: center;
  
  /* box-shadow: 1px 1px 5px 2px rgba(202, 202, 202, 0.858); */
 /* // color: var(--chocolate-brown); */
/* }  */

.option{
  width: 40%
}
label{
  font-size: 2em;
  display: block;
border-radius: 5px;
  width: 90%;
  height: auto;
  color: var(--light-yellow);
    padding: 2em 0.4em;
    border: 3px solid transparent;
  box-shadow: 1px 1px 5px 2px rgba(202, 202, 202, 0.858);

}

label:hover{
  color: var(--light-yellow);
}

 label:hover, input[type="radio"]:checked + label{ 
  
  box-shadow: 1px 1px 5px 2px rgba(202, 202, 202, 0.858);
/* background-color: var(--light-yellow); */
  border: 3.5px solid var(--light-yellow);
  color: var(--dark-yelow);

}   
.next{
  padding: 1.5em;
  width: 8em;
  text-align: center;
margin: 2em auto;
color: var(--chocolate-brown);

background-color: var(--pale-brown);
transition: all 0.3s ease-in-out;
}
.next:hover{
  border: 2px solid var(--chocolate-brown);
color: var(--light-yellow);
background-color: var(--chocolate-brown);
}


/* book-info-sec */
#recommended-book-info>h2{
color: var(--chocolate-brown);
}
#recommended-book-info{
  width: 50%;
  margin: auto;
  text-align: center;
}
#recommended-book-info>img{
  width: 30%;
}

#book-name{
  color: var(--dark-yelow);
  font-size: 1.5em;
}
#plot{
  color: var(--chocolate-brown);
}

