.custom-radio-group {
   display: flex;
   flex-direction: column;
 }
 
 .custom-radio {
   display: flex;
   align-items: center;
   position: relative;
   cursor: pointer;
 }
 
 .custom-radio .checkmark {
   height: 15px;
   width: 15px;
   margin-right: 10px;
   border: 1px solid #ccc;
 }
 
 .custom-radio .checkmark.active {
   background-color: #2196F3; /* Checked color */
 }
 
 .custom-radio input[type="hidden"] {
   display: none;
 }
 